<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qbonanza</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    {{>navbar}}
    <main>
        <h1 class="Heading">Qbonanza - Place to interact, ask, answer and gain information and a lot more</h1>
        <section class="section section-threads">
            <h2 class="common-heading">Most Popular threads</h2>
            <div class="container threads">
                <div class="thread">
                    <h3>Thread 1</h3>
                    <p>Posted by pqr<br><span>5 minutes ago</span></p>
                </div>
                <div class="thread">
                    <h3>Thread 2</h3>
                    <p>Posted by abc<br><span>10 minutes ago</span></p>
                </div>
                <div class="thread">
                    <h3>Thread 3</h3>
                    <p>Posted by xyz<br><span>17 minutes ago</span></p>
                </div>
            </div>
        </section>
        <hr class="sectionHr">
        <section class="section section-topTopics">
            <h2 class="common-heading">These are our top trending topics</h2>
            <div class="container topTopics">
                <div class="topic">
                    <h3>Geopolitics</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, error. Quaerat, tempore
                        deserunt? Commodi quisquam dignissimos laudantium illum eveniet iste. Ad, quidem?..</p>
                </div>
                <div class="topic">
                    <h3>Web development</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quidem modi vero repellendus
                        rerum voluptatem, adipisci laborum perferendis ipsa voluptates, neque aut...</p>
                </div>
                <div class="topic">
                    <h3>Physics</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, dolor, voluptas esse dolorum
                        id sunt beatae iure hic pariatur, facilis est. Similique...</p>
                </div>
            </div>
        </section>
        <hr class="sectionHr">
        <section class="section section-topics">
            <h2 class="common-heading">Our threads</h2>
            <div class="container topics">
                <div class="topic">
                    <h3>Geopolitics</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, error. Quaerat, tempore
                        deserunt? Commodi quisquam dignissimos laudantium illum eveniet iste. Ad, quidem?..</p>
                </div>
                <div class="topic">
                    <h3>Web development</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quidem modi vero repellendus
                        rerum voluptatem, adipisci laborum perferendis ipsa voluptates, neque aut...</p>
                </div>
                <div class="topic">
                    <h3>Physics</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, dolor, voluptas esse dolorum
                        id sunt beatae iure hic pariatur, facilis est. Similique...</p>
                </div>
            </div>
        </section>
    </main>

</body>
<script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script defer src="../js/index.js"></script>

</html>