<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script defer src="../js/index.js"></script>
  </head>
  <body class="body">
    <div class="container container-login">
      <div class="headings">
        <h1>Sign In</h1>
        <h2>Sign In to Qbonanza and have full access to our services</h2>
      </div>
      <div class="form form-login">
        <p>Username or Email address: </p>
        <input type="text" class="form-input input-login" id="name"/><br>
        <p>Password</p>
        <input type="password" id="password" /><br>
        <button class="btn hover-effect btn-login" id="submit">Sign In</button>
      </div>
      <div class="container sign-up">
        <h3>New to Qbonanza? <a href="/signup">Create an Account</a></h3>
      </div>
    </div>
  </body>
</html>