<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    {{>navbar}}
    <h1 id="title">User Registration Forum</h1>

    <div id = "form">
        {{!-- <form action="/register" method="POST"> --}}
        <form>
        <input class="form-input" placeholder="Name" name ="name" type="text" id="name"><span></span>
        <input class="form-input hide" placeholder="Email" name ="email" type="text" id="email"><span></span>
        <input class="form-input hide" placeholder="Number" name="number" type="text" id="number"><span></span>
        <input class="form-input hide" placeholder="Address" name="address" type="text" id="address"><span></span>
        <input class="form-input hide" placeholder="Age" name="age" type="text" id="age"><span></span>
        <input class="form-input hide" placeholder="Password" name="password" type="password" id="password"><span></span>
        <input class="form-input hide" placeholder="Confirm Password" name="confpassword" type="password" id="confpassword"><span style="margin-bottom:5px"></span>
        <button type="submit" id="next">Next</button>
        </form>
    </div>
</body>
<script src="js/index.js"></script>
<script src="js/register.js"></script>
</html>