<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    {{>navbar}}

    <div class="container">
        <h1 id="title">User Registration Form</h1>
        <div id="form">
            <input placeholder="Name" class="form-item" name="name" type="text" id="name"><br><br>
            <input placeholder="Email" class="form-item" name="email" type="text" id="email"><br><br>
            <input placeholder="Number" class="form-item" name="number" type="number" id="number"><br><br>
            <input placeholder="Address" class="form-item" name="address" type="text" id="address"><br><br>
            <input placeholder="Age" class="form-item" name="age" type="number" id="age"><br><br>
            <input placeholder="Password" class="form-item" name="password" type="text" id="password"><br><br>
            <input placeholder="Confirm Password" class="form-item" name="confpassword" type="text"
                id="confpassword"><br><br>
            <button type="submit" id="submit">Submit</button>

        </div>
    </div>
</body>
<script src="js/index.js"></script>
<script src="js/register.js"></script>

</html>