<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    {{>navbar}}
    <div class="container">
        <h1>Register</h1>
        <div class="form form-register">
            <input type="text" class="register-input hide" placeholder="Name"><span class="span-animation"></span>
            <input type="text" class="register-input hide" placeholder="Email"><span class="span-animation"></span>
            <input type="text" class="register-input hide" placeholder="Address"><span class="span-animation"></span>
            <input type="text" class="register-input hide" placeholder="Age"><span class="span-animation"></span>
            <input type="number" class="register-input hide" placeholder="Number"><span class="span-animation"></span>
            <input type="password" class="register-input hide" placeholder="Password"><span class="span-animation"></span>
            <input type="password" class="register-input hide" placeholder="Confirm Password"><span class="span-animation"></span>
        </div>
        <button class="btn btn-register hover-effect" id="submit">Submit</button>
    </div>
</body>
</html>