<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/topics.css">
    <title>Topics</title>

</head>
<body>
    {{>navbar}}
    <div class="top">
        <h1>Browse our top Topics</h1>
        <ul id="topTopics">
            <li><a href='Chemistry'>Chemistry</a></li>
            <li><a href="Geopolitics">Geopolitics</a></li>
            <li><a href="Current Affars">Current Affairs</a></li>
        </ul>
    </div>
    <div class="all">
        <h1>Here's Our plethora of Topics</h1>
        <h2>More are coming ,as the community growing</h2>
        <ul id="Topics"></ul>
    </div>
</body>
<script src="../js/topics.js"></script>
<script src="../js/index.js"></script>
<script>
    updateNavbar();
</script>
</html>