<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/topic.css">
    <script defer src="../js/index.js"></script>
    <script defer src="../js/question.js"></script>
    <title>{{topic.name}}</title>
</head>

<body>
    {{>navbar}}
    <main class="container">
        <img src="../images/{{topic.imageName}}" alt="backgroundImage">
        <div class="main-content">
            <h1> {{topic.name}} </h1>
            <p> {{topic.definition}} </p>
        </div>
    </main>
    <div class="container question-form">
        <form class="form">
            <span for="title">Title: </span>
            <input type="text" class="form-input" id="title">
            <span for="description">escription: </span>
            <input type="text" class="form-input" id="description">
            <button class="btn btn-ask" id="submit">Ask Question</button>
        </form>
    </div>
</body>

</html>