<header>
    <h1 id="logo">Qbonanza</h1>
    <nav>
        <ul>
            <li><a id="home" href="/">Home</a></li>
            <li><a id="login" href="/login">Login</a></li>
            <li>
                <a id="register" href="/register">Register</a>
            </li>
            <li><a id="logout" href="/logout">Logout</a></li>
            <li><a id="user" href="/User">You</a></li>
        </ul>
    </nav>
</header>