<header>
    <h2 class="logo hover-effect">Qbonanza</h2>
    <div class="search">
        <input class="search" type="text" id="search" placeholder="Search">
        <button class="btn btn-search hover-effect">Search</button>
    </div>
    <nav class="nav">
        <ul class="links">
            <li><a class="link hover-effect" href="/">Home</a></li>
            <li><a class="link hover-effect" href="/about">About</a></li>
            <li><a class="link hover-effect" href="/login">Login</a></li>
            <li><a class="link hover-effect" href="/signup">Signup</a></li>
        </ul>
    </nav>
</header>