@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');

/* heading section */
.heading {
    width: 100vw;
    background: var(--helpergrad2);
    text-align: center;
}

.Heading {
    font-size: 4.8rem;
    font-family: 'Poppins', sans-serif;
}

/* threads section */
.section-threads {
    background: var(--tintgrad);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.threads {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thread {
    margin-bottom: 2rem;
}

.thread a {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--black);
    text-decoration: none;
    position: relative;
    transition: all 0.3s linear;
}

.thread a::after {
    content: "";
    position: absolute;
    top: 15%;
    right: -4%;
    height: 0;
    width: 0;
    border-bottom: 2px solid var(--helper2);
    border-right: 2px solid var(--helper2);
    transition: all 0.3s linear;
}

.thread a:hover {
    color: var(--helper)
}

.thread a:hover:after {
    height: 80%;
    width: 95%;
}

.thread p {
    margin-top: 1rem;
}

/* top topics section  */

.section-topTopics {
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* top topics section */
.topTopics{
    display:flex;
    gap:2.3rem;
    align-items:center;
}

.topic{
    padding:1rem;
    border-radius:6px;
    background-color:white;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:2px 2px 5px black;
}

.topic a{
    font-size:1.8rem;
    font-weight:700;
    margin-bottom:12px;
    color:var(--white);
    text-decoration:none;
    position:relative;
    transition:all 0.3s linear;
}

.topic a::after{
    content:"";
    position:absolute;
    border-bottom:2px solid black;
    width:0;
    top:85%;
    right:0;
    transition:all 0.3s linear;
}
.topic a:hover{
    color:blue;
}
.topic a:hover:after{
    width:100%;
}
.topic p{
    color:white;
    text-shadow:2px 2px black;
}
/* topics section */
.section-topics{
    background-color:var(--tint);
}
.topics{
    padding:2px!important;
    margin-top:5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
}