:root {
    --inputcolor: rgb(236, 225, 246);
    --smartbordercolor: 0.1px solid hsla(210, 18%, 87%, 1);
    --smartfocuscolor: 2px solid rgba(20, 100, 250, 0.5);
    --smolbordercurve: 0 0 6px 6px;
    --shadow: 2px 2px 5px black;
    --helpergrad: linear-gradient(to bottom right, #6c4ccb, #4a30d1);
    --helper: #8490ff;
    --helpergrad: linear-gradient(to right, #8490ff, #5a68e2)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
}

/* reusable code */
.hide {
    display: none !important;
}

.hover-effect {
    transition: filter 0.3s linear;
}

.btn {
    font-size: 1rem;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hover-effect:hover {
    filter: brightness(80%);
}

.container {
    padding: 2vw;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


.common-heading {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before {
    content: "";
    position: absolute;
    top: 103%;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--helper);
    border-radius: 50%;
}

.common-heading::after {
    content: "";
    position: absolute;
    top: 117%;
    left: 1.5rem;
    min-width: 20rem;
    height: 2px;
    background: var(--helpergrad);
}

/* navbar css */
header {
    padding: 1rem;
    background-color: rgb(99, 97, 99);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    color: aqua;
    font-size: 2rem;
    font-family: times-new-roman;
    cursor: pointer;
    transition: all 0.3s linear;
}

.search input {
    padding: 5px;
    background: white;
    font-size: 1.2rem;
    border-radius: 12px;
}

.search input:focus {
    outline: none;
}

.btn-search {
    background-color: rgb(78, 195, 87)
}

.links {
    display: flex;
    justify-content: space-between;
}

.links li {
    list-style-type: none;
    margin: 10px;
}

.link {
    text-decoration: none;
    color: white;
    position: relative;
}