body{
    background-image:linear-gradient(to bottom right,rgb(255, 255, 255), rgb(235, 235, 235) 30%, rgb(224, 224, 232))
}
.container-login{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:3rem;
}

.headings{
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    margin-bottom:1rem;
}
.headings h1{
    margin-bottom:1rem;
}

.form-login{
    padding:2rem 1.4rem;
    background-color:rgb(245,240,239);
    border:var(--smartbordercolor);
    border-radius:0 0 6px 6px;
    font-size:18px;
}
.form-login p{
    margin-bottom:5px;
}
.form-login input{
    height:2rem;
    width:24rem;
    padding:5px;
    border:2px solid black;
    outline:none;
    border-radius:8px;
    transition:all 0.3s;
}
.form-login input:focus, .form-login input:hover{
    border:2px solid rgba(80, 175, 250,0.6);
}

.btn-login{
    background-color:rgb(255, 153, 0);
}
.btn-login:active{
    cursor:progress;
}
.sign-up{
    border:var(--smartbordercolor);
    border-radius:var(--smolbordercurve);
    background-color:white;
    width:27rem;
    text-align:center;
}
.sign-up a{
    text-decoration:none;
    color:blue;
}