header h1{
    cursor:pointer;
    color:white;
    padding:10px;
    border-radius:20px;
    background-color:cyan;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10px;
    background-image:linear-gradient(to right, rgb(50,50,50), black);
    background-repeat:no-repeat;
}
header nav ul{
    text-decoration:none;
}
header nav ul li{
    font-size:20px;
    color:white;
    display:inline-block;
    padding:10px 20px;
    cursor:pointer;
}
header h1:hover{
    background-color:blue;
    color:cyan;
}
nav ul li a{
    border:0px solid none;
    border-radius:12px;
    padding:10px;
    text-decoration:none;
    color:black;
}

nav ul li a:hover{
    filter:brightness(80%);
}

#login{
    background-color:yellow;
}
#home{
    background-color:cyan;
}
#register{
    background-color:orange;
} 
#logout{
    background-color:lime;
}
#user{
    background-color:pink
}
