body{
    background:linear-gradient(to right, rgb(38,147,15), rgb(40,96,25)) !important;
}
h1{
    font-family:times-new-roman;
    font-weight:600px;
    font-size:2.8rem;
    color:rgb(216,215,216);
    text-shadow:0px 2px 2px black;
}
.form-register{
    gap:13px;
}
.register-input{
    background:inherit;
    border:none;
    outline:none;
    padding:5px;
    font-size:1.4rem;
    font-weight:600px;
    color:var(--inputcolor);
}
.register-input::placeholder{
    color:var(--inputcolor);
    opacity:1;
}
.register-input::-ms-input-placeholder{
    color:var(--inputcolor);
}
.span-animation{
    display:block;
    border-bottom:2px solid black;
    transform:translateY(-10px);
    width:0px;
    transition:all 0.3s linear;
}
.register-input:focus + .span-animation{
    width:100%;
}
.btn-register{
    background:linear-gradient(to left,orange,darkorange);
    margin-top:8px;
    border-radius:4px !important;
    padding:5px 15px !important;
    transition:all 0.3s linear;
    box-shadow:0px 2px 2px rgb(12,10,8)
    font-size:0.8rem;
}
.btn-register:focus{
    transform:translateY(2px)
}