body{
    background-image:linear-gradient(to bottom left,blue, cyan);
}
.top{
    background-image:linear-gradient(to right, rgb(180, 175, 175), white);
    height:15vw;
    width:100%;
    display:grid;
    place-items:center;
    border-bottom:2px solid black;
}
.top h1{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.top ul {
    display:flex;
    list-style-type:none;
}

.top ul li{
    margin:15px;
    padding:15px;
    background-image: linear-gradient(to bottom right, blue, cyan );
    border-radius:12px;
    font-size:1.5rem;
    box-shadow:0 3px 5px black;
    transition:all 0.3s;
}
.top ul li a{
    text-decoration:none;
    color:black;
}
.all{
    background-image:linear-gradient(to bottom right, rgb(82, 53, 83), rgb(173, 12, 173));
    display:grid;
    place-items: center;
    padding:10px;
}
#Topics{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin:10px;
    padding:20px;
}
#Topics li{
    margin:10px;
    padding:5px 5px;
    font-size:1.4rem;
    background-color:rgb(4, 63, 17);
    border-radius:16px;
    justify-content: center;
    transition:all 0.3s;

}

#Topics li a{
    text-decoration:none;
    color:azure;
}
#Topics li:hover,.top ul li:hover{
    filter:brightness(75%);
}
.top ul li:active{
    transform:translateY(2px);
}